In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [29]:
geo=pd.read_csv('geo_tags.csv')

In [30]:
geo.head()

,gt_id,gt_page_id,gt_globe,gt_primary,gt_lat,gt_lon,gt_dim,gt_type,gt_name,gt_country,gt_region
0,158041,4328020,earth,0,41.51,-5.82,1000,NaN,NaN,NaN,NaN
1,5844377,4670424,earth,0,13.74,-89.29,10000,city,NaN,NaN,NaN
2,5844381,4670424,earth,0,13.70,-89.21,10000,city,NaN,NaN,NaN
3,5844383,4670424,earth,0,13.40,-89.75,10000,city,NaN,NaN,NaN
4,5844388,4670424,earth,0,12.85,-88.00,10000,city,NaN,NaN,NaN

In [31]:
geo = geo[["gt_id","gt_page_id"]]

In [32]:
geo = geo.groupby("gt_page_id").count()

In [33]:
geo.head()

            gt_id
gt_page_id
7               1
10              1
15              1
26              1
39              1

In [34]:
geo = geo.reset_index()

In [35]:
geo.head()

   gt_page_id  gt_id
0           7      1
1          10      1
2          15      1
3          26      1
4          39      1

In [36]:
geo["gt_id"].max()

1480

In [37]:
geo = geo[geo["gt_id"]!=geo["gt_id"].max()]

In [40]:
geo[geo["gt_id"]==geo["gt_id"].max()]

        gt_page_id  gt_id
278172     7421943   1424