In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [2]:
logs=pd.read_csv('logs.csv', usecols=["contributor_id", "timestamp"])

In [3]:
logs.head()

              timestamp       contributor_id
0  2004-12-23T07:10:09Z             2,075.00
1  2004-12-23T07:14:09Z             2,075.00
2  2004-12-23T07:26:10Z             2,075.00
3  2004-12-23T07:55:09Z             7,856.00
4  2004-12-23T08:02:22Z             7,856.00

In [4]:
primer_actividad = logs.groupby("contributor_id").max()

In [41]:
primer_actividad.head()

        contributor_id               timestamp_x
0                 5.00 2011-04-08 16:00:51+00:00
1                21.00 2007-11-21 16:58:55+00:00
2                30.00 2007-02-16 15:19:13+00:00
3                38.00 2016-06-10 15:11:37+00:00
4               206.00 2016-08-24 09:15:11+00:00

In [40]:
primer_actividad["timestamp_x"] = pd.to_datetime(primer_actividad["timestamp_x"],utc= False)

In [13]:
logs.logtype.unique()

array(['delete', 'block', 'upload', 'protect', 'rights', 'move', nan,
       'renameuser', 'newusers', 'patrol', 'gblrights', 'import',
       'thanks', 'institution', 'course', 'instructor', 'campus',
       'student', 'eparticle', 'massmessage', 'online', 'merge',
       'managetags', 'tag', 'usermerge', 'gblblock', 'create',
       'contentmodel', 'growthexperiments'], dtype=object)

In [42]:
primer_actividad.dtypes

contributor_id                float64
timestamp_x       datetime64[ns, UTC]
dtype: object

In [59]:
import datetime 
from datetime import timezone
import pytz

In [60]:
now = datetime.datetime.now(tz=pytz.UTC)

In [61]:
print(now.tzinfo, type(now.tzinfo))

UTC <class 'pytz.UTC'>

In [55]:
print(primer_actividad.timestamp_x.max().tzinfo, type(primer_actividad.timestamp_x.max().tzinfo))

UTC <class 'pytz.UTC'>

In [63]:
primer_actividad["timestamp_x"] = now - primer_actividad["timestamp_x"]

In [64]:
primer_actividad.head()

        contributor_id               timestamp_x
0                 5.00 3839 days 08:15:52.305525
1                21.00 5073 days 07:17:48.305525
2                30.00 5351 days 08:57:30.305525
3                38.00 1949 days 09:05:06.305525
4               206.00 1874 days 15:01:32.305525