In [2]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [3]:
from datetime import datetime

In [4]:
log = pd.read_csv("logs.csv")

In [5]:
languages = pd.read_csv("languages.csv")

In [6]:
log.head()

,item_id,timestamp,contributor_username,contributor_id,contributor_ip,comment,logtype,action,title
0,1,2004-12-23T07:10:09Z,Sabbut,"2,075.00",NaN,el contenido era: 'Si aprendés Pensamiento Cie...,delete,delete,Verificacionismo
1,2,2004-12-23T07:14:09Z,Sabbut,"2,075.00",NaN,el contenido era: '{{destruir}}en algun lugar ...,delete,delete,Rapunzel
2,3,2004-12-23T07:26:10Z,Sabbut,"2,075.00",NaN,el contenido era: '#REDIRECT [[Flash]]',delete,delete,Macromedia Flash
3,4,2004-12-23T07:55:09Z,Sanbec,"7,856.00",NaN,Sin información de origen ni de licencia. Hay ...,delete,delete,Archivo:Gnu head.png
4,5,2004-12-23T08:02:22Z,Sanbec,"7,856.00",NaN,Sustituida por [[commons:Image:Heckert_GNU.png]],delete,delete,Archivo:Gnu-head-sm.jpg

In [7]:
#Reviso que tipo de datos manejo para Timestamp
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12188946 entries, 0 to 12188945
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   item_id               int64
 1   timestamp             object
 2   contributor_username  object
 3   contributor_id        float64
 4   contributor_ip        object
 5   comment               object
 6   logtype               object
 7   action                object
 8   title                 object
dtypes: float64(1), int64(1), object(7)
memory usage: 836.9+ MB

In [8]:
#Trunco la fecha y la paso a datetime
log["timestamp"]=log["timestamp"].astype(str).apply(lambda x: x[0:10])

In [9]:
log.head()

,item_id,timestamp,contributor_username,contributor_id,contributor_ip,comment,logtype,action,title
0,1,2004-12-23,Sabbut,"2,075.00",NaN,el contenido era: 'Si aprendés Pensamiento Cie...,delete,delete,Verificacionismo
1,2,2004-12-23,Sabbut,"2,075.00",NaN,el contenido era: '{{destruir}}en algun lugar ...,delete,delete,Rapunzel
2,3,2004-12-23,Sabbut,"2,075.00",NaN,el contenido era: '#REDIRECT [[Flash]]',delete,delete,Macromedia Flash
3,4,2004-12-23,Sanbec,"7,856.00",NaN,Sin información de origen ni de licencia. Hay ...,delete,delete,Archivo:Gnu head.png
4,5,2004-12-23,Sanbec,"7,856.00",NaN,Sustituida por [[commons:Image:Heckert_GNU.png]],delete,delete,Archivo:Gnu-head-sm.jpg

In [10]:
#La paso a tipo de dato datetime
log["timestamp"]=pd.to_datetime(log["timestamp"],format='%Y-%m-%d')

In [11]:
#Verifico que se haya realizado correctamente el cambio de tipo de dato
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12188946 entries, 0 to 12188945
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   item_id               int64
 1   timestamp             datetime64[ns]
 2   contributor_username  object
 3   contributor_id        float64
 4   contributor_ip        object
 5   comment               object
 6   logtype               object
 7   action                object
 8   title                 object
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 836.9+ MB

In [12]:
#Cuento las repeticiones de apariciones para ese dia
mismo_dia = log[["item_id","timestamp"]].groupby("timestamp").count()

In [13]:
#Reinicio el indice
mismo_dia = mismo_dia.reset_index()

In [14]:
#Renombro la columna por la cual conte la cantidad de interacciones
mismo_dia.rename(columns={'item_id': '#DeInteracciones'}, inplace=True)

In [15]:
mismo_dia.head()

   timestamp  #DeInteracciones
0 2004-12-23                91
1 2004-12-24                36
2 2004-12-25                43
3 2004-12-26                45
4 2004-12-27                98

In [16]:
mismo_dia[mismo_dia["#DeInteracciones"]==mismo_dia["#DeInteracciones"].max()]

      timestamp  #DeInteracciones
3769 2015-04-19            390863

In [17]:
mismo_dia[mismo_dia["#DeInteracciones"]==mismo_dia["#DeInteracciones"].min()]

    timestamp  #DeInteracciones
61 2005-02-22                 4

In [18]:
languages.head()

   babel_user babel_lang babel_level
0     4502458         FR           2
1     5928200         aa           0
2       46918         ab           0
3     2050449         ab           1
4     4715583        ace           0