In [1]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

Matplotlib is building the font cache; this may take a moment.

In [2]:
languages=pd.read_csv('languages.csv')

In [3]:
languages.head()

   babel_user babel_lang babel_level
0     4502458         FR           2
1     5928200         aa           0
2       46918         ab           0
3     2050449         ab           1
4     4715583        ace           0

In [4]:
languages.rename(columns={'babel_user': "user_id", "babel_lang": "language","babel_level": "level"}, inplace=True)

In [5]:
languages.head()

   user_id language level
0  4502458       FR     2
1  5928200       aa     0
2    46918       ab     0
3  2050449       ab     1
4  4715583      ace     0

In [22]:
languages["language"].isnull().value_counts()

False    35662
True         4
Name: language, dtype: int64

In [24]:
languages[languages["language"].isnull()]

       user_id language level
32096   739010      NaN     0
32097  5928200      NaN     0
32098   177135      NaN     2
32099   289278      NaN     N

In [25]:
languages = languages.dropna()

In [27]:
languages.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35662 entries, 0 to 35665
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   35662 non-null  int64
 1   language  35662 non-null  object
 2   level     35662 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [28]:
tabla = languages.pivot(values="level",columns="language",index="user_id")

In [30]:
tabla.fillna(-1,inplace=True)

In [36]:
tabla.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10815 entries, 30 to 6332447
Columns: 317 entries, FR to zza
dtypes: object(317)
memory usage: 26.2+ MB